
.brands-wrabber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  flex-wrap: wrap;
}
.brand {
  padding: 5px;
  width: 24%;
  height: 110px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.brands-img {
width: 100%;
height: 100%;
object-fit: contain;
}



@media (max-width : 920px) {
  .brand {
    width: 48%;
  }
}

@media (max-width :520px) {
  .brand {
    width: 96%;
    height: 90px;
  }
}