.loading-parent {

height: calc(100vh - 250px);
display: flex;
align-items: center;
justify-content: center;
}


.loading{
  height: 150px;
  width: 150px;
  border-radius: 50%;

  border-top: 5px solid  var(--primary-color);
  border-right: 5px solid var(--primary-color);

  animation: mymove 1s infinite linear;


}

@keyframes mymove {
  0% {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}
}